<div class="row my-5">
    <div class="col-xs-12 col-sm-12 col-lg-6 pb-3">
        <div class="secondary-shadow">
            <img class="img-fluid mx-auto d-block wow fadeInLeft"
                 src="{{ 'assets/images/zerospam/zerospam.jpg'|theme }}"
                 data-holder-rendered="true"
                alt="{{ 'Logo Zérospam.'|_ }}">
        </div>
    </div>
    <div class="col"></div>
    <div class="col-sm-12 col-lg-5 wow fadeInUp d-flex align-items-center">
        <div>{% content 'zerospam/c-zerospam' %}
        </div>
    </div>
</div>