description = "Default Layout"

[localePicker]
forceUrl = 0

[partner mypartner]
backgroundColor = "#DFE6EA"
==
<?php

use RainLab\Translate\Classes\Translator;
function onInit()
{
    $translator = Translator::instance();
    $lang = $translator->getLocale();
$this['lang'] = $translator->getLocale();
$this['site_url'] = asset('');
}
?>
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ this.page.title|_ }} | Techno24</title>
    <meta name="description" content="{{ this.page.description|_ }}">
    <meta name="title" content="{{ this.page.title }}">
    <meta name="author" content="Techno24.net">
    <meta name="robots" content="index,follow">
    <meta property="og:type" content="website, web hosting" />
    <meta property="og:image" content="{{ this.page.og_image }}" />
    <meta property="og:title" content="Techno24 - {{ this.page.title }}" />
    <meta property="og:url" content="{{ this.page.url }}" />
    <meta property="og:site_name" content="Techno24.net" />
    <meta property="og:description" content="{{ this.page.settings.meta_description }}" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/jpg" href="{{ 'assets/images/favicon.png'|theme }}"/>
    <link href="{{ 'assets/images/apple-touch-icon.png'|theme }}" rel="apple-touch-icon">
    <link href="{{ 'assets/images/apple-touch-icon-precomposed.png'|theme }}" rel="apple-touch-icon-precomposed">
    <link href="{{ [
    'assets/css/theme.css',
    ]|theme }}" rel="stylesheet">
    {% styles %}
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
</head>
<body>
{% partial 'facebook-module' %}
<header>
    {% partial 'header' %}
    {% partial 'navbar' %}
</header>


<main id="page">
    {% page %}
</main>

<footer>
    <section style="background-color:#DFE6EA;">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% component 'mypartner' %}
                </div>
            </div>
        </div>
    </section>
    {% partial 'footer' %}
</footer>

{% flash %}
<span id="flash" data-type="{{ type }}" data-message="{{ message }}"></span>
{% endflash %}

<script src="{{ [
'assets/vendor/jquery/jquery-3.2.1.min.js',
'assets/vendor/popper/popper.js',
'assets/vendor/tether/dist/js/tether.min.js',
'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
'assets/js/techno24.js',
]|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>