description = "Default Layout"

[localePicker]
forceUrl = 1

[partner mypartner]
backgroundColor = "#DFE6EA"
==
<?php
use RainLab\Translate\Classes\Translator;
function onInit()
{
    $translator = Translator::instance();
    $lang = $translator->getLocale();
$this['lang'] = $translator->getLocale();
$this['site_url'] = asset('');
}
?>
==
<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4576616-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-4576616-1');
    </script>
    <style>@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display:300,400,500,700&display=swap');</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ this.page.title|_ }} | Techno24</title>
    <meta name="description" content="{{ this.page.description|_ }}">
    <meta name="title" content="{{ this.page.title }} | Techno24">
    <meta name="author" content="Techno24.net">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="{{ this.page.title }} | Techno24" />
    <meta property="og:url" content="{{ this.page.url }}" />
    <meta property="og:image" content="{{ image_url }}" />
    <meta property="og:image" content="{{'assets/images/dafault-share-img.jpg'|theme}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ this.page.settings.meta_description }}" />
    <meta property="og:locale" content="fr_CA">
    <meta property="og:site_name" content="Techno24.net" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/jpg" href="{{ 'assets/images/favicon.png'|theme }}"/>
    <link href="{{ 'assets/images/apple-touch-icon.png'|theme }}" rel="apple-touch-icon">
    <link href="{{ 'assets/images/apple-touch-icon-precomposed.png'|theme }}" rel="apple-touch-icon-precomposed">
    <link href="{{ [
    'assets/css/theme.min.css',
    ]|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body>
{% partial 'facebook-module' %}
<header>
    {% partial 'header' %}
    {% partial 'navbar' %}
</header>
<main id="page">
    {% page %}
</main>
<footer>
    <section style="background-color:#DFE6EA;">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% component 'mypartner' %}
                </div>
            </div>
        </div>
    </section>
    {% partial 'footer' %}
</footer>
{% flash %}
<span id="flash" data-type="{{ type }}" data-message="{{ message }}"></span>
{% endflash %}
<script src="{{ [
'assets/vendor/jquery/jquery-3.2.1.min.js',
'assets/vendor/popper/popper.min.js',
'assets/vendor/tether/dist/js/tether.min.js',
'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
'assets/vendor/wow/dist/wow.min.js',
'assets/js/techno24.js',
]|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>