description = "Footer"
==
<section id="footer" class="py-5">
    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-3 text-white d-none d-sm-block mx-auto">
            <h5 class="h5-responsive text-uppercase">
                {{ 'NAVIGATION'|_ }}
            </h5>
            <p>
                <a class="text-white" href="{{ 'home'|page }}">{{'Acceuil'|_}}</a><br />
                <a class="text-white" href="{{ 'office365'|page }}">Office365</a><br />
                <a class="text-white" href="{{ 'bitdefender'|page }}">BitDefender</a><br />
                <a class="text-white" href="{{ 'hosting'|page }}">{{'Hébergement'|_}}</a><br />
                <a class="text-white" href="{{ 'blog/blogList'|page }}">{{'Nouvelles'|_}}</a><br />
                <a class="text-white" href="{{ 'contact'|page }}">{{'Nous joindre'|_}}</a><br />
                {% if lang == 'fr' %}
                <a href="#"
                   class="text-white"
                   data-request="onSwitchLocale"
                   data-request-data="locale: 'en'" title="English">
                    English
                </a>
                {% else %}
                <a href="#"
                   class="text-white"
                   data-request="onSwitchLocale"
                   data-request-data="locale: 'fr'" title="Français">
                    Français
                </a>
                {% endif %}
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 text-white mx-auto">
            <h5 class="h5-responsive text-uppercase">
                {{ 'CONTACT'|_ }}:
            </h5>
            <p>
                {{ 'MONTRÉAL'|_ }} : <a href="tel:15146386924" style="color:white!important;">514 638-6924</a><br/>
                {{ 'PARTOUT AILLEURS'|_ }} : <a href="tel:18669981221" style="color:white!important;">1 866 998-1221</a>
            </p>
            <h5 class="h5-responsive text-uppercase">
                {{ 'FACTURATION'|_ }}:
            </h5>
            <p>
                <a href="mailto:facturation@techno24.net" style="color:white!important;">facturation@techno24.net</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 text-white mx-auto">
            <h5 class="h5-responsive text-uppercase">
                {{ 'SUPPORT'|_ }}
            </h5>
            <p>
                <a href="mailto:support@techno24.net" style="color:white!important;">support@techno24.net</a>
            <br />
                SKYPE : <a href="skype:techno24.net?call" style="color:white!important;">techno24.net</a>
            </p>
            <h5 class="h5-responsive text-uppercase">
                {{ 'INFORMATION'|_ }}
            </h5>
            <p>
                <a href="mailto:facturation@techno24.net" style="color:white!important;">info@techno24.net</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 mx-auto d-none d-sm-block">
            <h5 class="h5-responsive text-white text-uppercase">
                {{ 'RÉSEAUX SOCIAUX'|_ }}
            </h5>
            <a href="{{ this.theme.facebook_url }}" target="_blank">
                <i class="fab fa-facebook text-secondary" style="padding-right: 3px; font-size:18px;"></i>
            </a>
            <a href="{{ this.theme.twitter_url }}" target="_blank">
				<span class="fa-stack" style="vertical-align: top; font-size:10px;margin-top:2px;">
				  <i class="fas fa-circle fa-stack-2x text-secondary"></i>
				  <i class="fab fa-twitter fa-stack-1x" style="color:#4A4A4A;"></i>
				</span>
            </a>
            <a href="{{ this.theme.linkedin_url }}" target="_blank">
					<span class="fa-stack" style="vertical-align: top; font-size:10px; margin-top:2px;">
				  <i class="fas fa-circle fa-stack-2x text-secondary"></i>
				  <i class="fab fa-linkedin-in fa-stack-1x" style="color:#4A4A4A;"></i>
				</span>
            </a>
            <a href="{{ this.theme.youtube_url }}" target="_blank">
					<span class="fa-stack" style="vertical-align: top; font-size:10px; margin-top:2px;">
				  <i class="fas fa-circle fa-stack-2x text-secondary"></i>
				  <i class="fab fa-youtube fa-stack-1x" style="color:#4A4A4A;"></i>
				</span>
            </a>
            <img class="d-block pt-5" src="{{'assets/images/creditcard-logo.png'|theme}}" alt="{{ 'Cartes de crédits'|_ }}">
        </div>
    </div>
    </div>
</section>
<section class="secondary-color">
    <div class="container">
        <div class="row">
            <div class="col text-center py-2 text-white">

                    © Techno24.net - {{'Tous droits réservés'|_ }} {{ "now"|date("Y") }}
                    | {{'Hébergement 5 étoiles'|_ }}

            </div>
        </div>
    </div>
</section>