description = "Header"
==
<section class="secondary-color">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col text-sm-right p-2 d-none d-sm-block">
				<span class="pr-3 white-text align-top">
				<i class="fas fa-paper-plane"></i>&nbsp;
				<a href="mailto:info@techno24.net" style="color:white!important;">info@techno24.net</a>
				</span>
                <span class="pr-3 white-text">
				<i class="fas fa-phone"></i>&nbsp;
				<a href="tel:15146386924" style="color:white!important;">514 638-6924</a> /
				<a href="tel:18669981221" style="color:white!important;">1 866 998-1221</a>
				</span>
                <a href="{{ this.theme.facebook_url }}" target="_blank">
                    <i class="fab fa-facebook white-text" style="padding-right: 3px; font-size:18px;"></i>
                </a>
                <a href="{{ this.theme.twitter_url }}" target="_blank">
				<span class="fa-stack" style="vertical-align: top; font-size:10px;margin-top:2px;">
				  <i class="fas fa-circle fa-stack-2x white-text"></i>
				  <i class="fab fa-twitter fa-stack-1x" style="color:#E79435;"></i>
				</span>
                </a>
                <a href="{{ this.theme.linkedin_url }}" target="_blank">
					<span class="fa-stack" style="vertical-align: top; font-size:10px; margin-top:2px;">
				  <i class="fas fa-circle fa-stack-2x white-text"></i>
				  <i class="fab fa-linkedin-in fa-stack-1x" style="color:#E79435;"></i>
				</span>
                </a>
            </div>
            <div class="col text-sm-right p-2 d-block d-sm-none">
				<span class="pr-3 white-text align-top">
				<i class="fas fa-paper-plane"></i>&nbsp;
				<a href="mailto:info@techno24.net" style="color:white!important;">info@techno24.net</a>
				</span>
                <span class="pr-3 white-text">
				<i class="fas fa-phone"></i>&nbsp;
				<a href="tel:15146386924" style="color:white!important;">514 638-6924</a> /
				<a href="tel:1866998121" style="color:white!important;">1 866 998-121</a>
				</span>
            </div>
        </div>
    </div>
</section>