<h3 class="h3-responsive card-title mt-0">
    <strong>{{ 'Contactez-nous et il nous fera plaisir de vous aider'|_ }}</strong>
</h3>
<p class="card-text">
<p>
    <strong>{{ 'MONTRÉAL'|_ }}</strong> : <a href="tel:15146386924" style="color:#ffffff!important;">514 638-6924</a><br/>
    <strong>{{ 'PARTOUT AILLEURS'|_ }}</strong> : <a href="tel:18669981221" style="color:#ffffff!important;">1 866 998-1221</a>
</p>
<p>
    <strong>{{ 'Information :'|_ }}</strong> <a href="mailto:facturation@techno24.net" style="color:#ffffff!important;">info@techno24.net</a>
</p>
<p>
    <strong>{{ 'Facturation'|_ }} :</strong>
    <a href="mailto:facturation@techno24.net" style="color:#ffffff!important;">facturation@techno24.net</a>
</p>
<p>
    <strong>{{ 'Support :'|_ }}</strong> <a href="mailto:support@techno24.net" style="color:#ffffff!important;">support@techno24.net</a>
    <br />
    <strong>{{ 'Skype :'|_ }}</strong> <a href="skype:techno24.net?call" style="color:#ffffff!important;">techno24.net</a>
</p>
<p><strong>{{ 'Adresse postale :'|_ }}</strong> 40, rue de la Louisiane La Prairie Québec J5R 0C4</p>