<div class="modal fade" tabindex="-1" role="dialog" id="annonce">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body px-5 pb-5 pt-4">
                <h1 class="h1-responsive text-center">Bonjour,</h1>
                <p class="text-center">Nous sommes heureux de vous annoncer que nous avons fait l'aquisition de Techno24 🥳
                En plus du service d'hébergement Web, nous offrons des services de conception et refonte de site Web,
                    de gestion des médias sociaux et de création de campagnes numériques.</p>
            <p class="text-center">
                <a href="https://agencearobas.ca/" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-arrow-right fa-stack-1x fa-inverse"></i>
                    </span>
                    Cliquez ici pour être redirigés vers notre site Web.<br>
                    Au plaisir de collaborer avec vous!</a>
            </p>
                    <img class="mx-auto d-block" src="{{'assets/images/logo-arobas.svg'|theme}}" style="width:150px;" alt="Logo Arobas">
            </div>
        </div>
    </div>
</div>