description = "Navigation bar"
==

<nav class="navbar bg-white navbar-expand-lg">
	<div class="container">
	<a class="navbar-brand" href="{{ 'home'|page }}">
		<img src="{{'assets/images/techno24-logo.png'|theme}}" style="width:150px;">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
			aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link nav-link" href="{{ 'home'|page }}">
					<strong>{{'ACCUEIL'|_}}</strong></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<strong>OFFICE365</strong>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ 'office365'|page }}#office">Office365</a>
					<a class="dropdown-item" href="{{ 'office365'|page }}#msazure">Microsoft Azure</a>
					<a class="dropdown-item" href="{{ 'office365'|page }}#entreprise">Logiciel d'entreprise</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<strong>{{'HÉBERGEMENT'|_}}</strong>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ 'hosting'|page }}">Hébergement Web</a>
					<a class="dropdown-item" href="{{ 'hosting'|page }}#solutions">Autres solutions</a>
					<a class="dropdown-item" href="{{ 'hosting'|page }}#technologie">Technologies disponible</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ 'blog/blogList'|page }}">
					<strong>{{'NOUVELLES'|_}}</strong></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ 'contact'|page }}">
					<strong>{{'Nous joindre'|_}}</strong></a>
			</li>
			<li class="nav-item active">
				{% if lang == 'fr' %}
				<a href="#"
				   class="nav-link"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'en'" title="English">
					<strong>ENGLISH</strong>
				</a>
				{% else %}
				<a href="#"
				   class="nav-link"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'fr'" title="Français">
					<strong>FRANÇAIS</strong>
				</a>
				{% endif %}
			</li>
	</ul>
	</div>
	</div>
</nav>