description = "Navigation bar"
==

<nav id="navbar" class="navbar bg-white navbar-expand-lg">
	<div class="container">
	<a class="navbar-brand" href="{{ 'home'|page }}">
		<img src="{{'assets/images/techno24-logo.png'|theme}}" style="width:150px;" alt="{{ 'Logo de Techno24.net'|_ }}">
	</a>
	<button class="navbar-toggler btn-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto pb-0">
			<li class="nav-item">
				<a class="nav-link nav-link" href="{{ 'home'|page }}">
					<strong>{{'ACCUEIL'|_}}</strong></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<strong>{{'PRODUITS'|_}}</strong>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ 'office365'|page }}#office">Office365</a>
					<a class="dropdown-item" href="{{ 'bitdefender'|page }}">BitDefender</a>
					<a class="dropdown-item" href="{{ 'office365'|page }}#msazure">Microsoft Azure</a>
					<a class="dropdown-item" href="{{ 'office365'|page }}#entreprise">{{'Logiciel d\'entreprise'|_}}</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<strong>{{'HÉBERGEMENT'|_}}</strong>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ 'hosting'|page }}">{{'Hébergement Web'|_}}</a>
					<a class="dropdown-item" href="{{ 'hosting'|page }}#solutions">{{'Autres solutions'|_}}</a>
					<a class="dropdown-item" href="{{ 'hosting'|page }}#technologie">{{'Technologies disponible'|_}}</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ 'blog/blogList'|page }}">
					<strong>{{'NOUVELLES'|_}}</strong></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<strong>{{'COURRIEL WEB'|_}}</strong>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="https://www.office.com/login?es=Click&ru=%2F&msafed=0" target="_blank">Office365</a>
					<a class="dropdown-item" href="https://mail.hostedemail.com" target="_blank">Host Email</a>
					<a class="dropdown-item" href="https://techno24.net/webmail" target="_blank">Webmail</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ 'contact'|page }}">
					<strong>{{'Nous joindre'|_}}</strong></a>
			</li>
			<li class="nav-item">
				{% if lang == 'fr' %}
				<a href="#"
				   class="nav-link"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'en'" title="English">
					<strong>EN</strong>
				</a>
				{% else %}
				<a href="#"
				   class="nav-link"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'fr'" title="Français">
					<strong>FR</strong>
				</a>
				{% endif %}
			</li>
	</ul>
	</div>
	</div>
</nav>