.hero-home{
  background: url("../images/tech24-hero-home.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.secondary-shadow {
  box-shadow: 20px -20px $primary-color
}

@include media-breakpoint-down(xs) {
  .home-cover {
    .cover-image {
      height: 200px;
      .form-search-content {
        margin-top: 80px;
      }
    }
  }

}

@include media-breakpoint-up(md) {

  .home-cover {
    .cover-image {
      height: 300px;
      .form-search-content {
        margin-top: 100px;
      }
    }
  }

}

@include media-breakpoint-up(lg) {

  .home-cover {
    .cover-image {
      height: 400px;
      .form-search-content {
        margin-top: 120px;
      }
    }
  }

}

@include media-breakpoint-up(xl) {

  .home-cover {
    .cover-image {
      height: 600px;
      .form-search-content {
        margin-top: 200px;
      }
    }
  }

}
.nav-link {
  font-size: 1.3rem!important;
}
.testim .cont > div {
  padding: 0 0 0 0!important;
}
