.social{
  padding-inline-start: 0px;
}

.social li{
  display:inline;
}


.fb-share-button{
  position:relative;
  top:-6px;
}

.IN-widget{
  vertical-align:top!important;
  padding-top: 5px!important;
}