{% set posts = __SELF__.posts %}
<div class="container">
    <div class="row">
        {% for post in posts %}
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-sm-12 col-md-5 col-lg-3">
                        <a href="{{ post.url }}">
                        {% if post.featured_images.count %}
                            <img class="img-fluid"
                                 data-src="{{ post.featured_images.0.filename.thumb(1200, 800, {'mode':'crop'}) }}"
                                 src="{{ post.featured_images.0.path }}"
                                 alt="{{ post.featured_images.0.description }}"/>
                        {% endif %}
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ post.url }}">
                            <h3 class="h3-responsive my-0">
                            {{ post.title }}
                        </h3></a>
                        <h6 class="my-0">
                            {{'Publié le'|_}} {{ article.date | strftime('%d %h %Y') }}
                            {% if post.categories.count %}
                            {% endif %}
                            |
                            {% for category in post.categories %}
                            <a href="{{category.url}}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}</p>
                        </h6>
                        <p>
                            {{ post.summary }}
                        </p>
                        <a class="btn btn-secondary float-right" href="{{ post.url }}" role="button">
                            {{'Lire l\'article'|_ }}
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="no-data">
            {{'Aucun sujet trouvé'|_ }}
        </div>
        {% endfor %}
    </div>
    {% if posts.lastPage > 1 %}
    <div class="row">
        <div class="col-12">
            <ul class="pagination justify-content-end">
                {% if posts.currentPage > 1 %}
                <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}"><li class="page-link">
                    <i class="fa fa-angle-double-left"></i>
                </li></a>
                {% endif %}

                {% for page in 1..posts.lastPage %}
                <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}">
                    <li class="{{ posts.currentPage == page ? 'active-li' : null }} page-link">
                   {{ page }}
                </li></a>
                {% endfor %}

                {% if posts.lastPage > posts.currentPage %}
                <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">
                    <li class="page-link"><i class="fa fa-angle-double-right"></i> </li></a>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
